<!--フラッシュメッセージがある場合にフラッシュメッセージを表示-->
<% if flash[:notice] %>
  <p class="text-center"><%= flash[:notice] %></p>
<% end %>
<ur class="nav nav-tabs">
  <%= link_to "Info", end_user_path(end_user), class: "nav-link active" %>
  <div class="nav-link">
    <%= link_to "Notice", notifications_path %>
    <!--未読の通知がある場合未読通知の数をバッジで表示-->
    <% if unchecked_notifications.any? %>
      <div class="badge bg-info text-light">
        <%= unchecked_notifications.count %>
      </div>
    <% end %>
  </div>
</ur>
<br>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Your info</h3>
  </div>
  <div class="row">
    <div class="col-3 offset-1">
      <%= attachment_image_tag end_user, :profile_image, size: "150x150", fallback: "no_image.jpg", class: "circle"%>
      <br>
      <div class="text-center my-1">
        <%= link_to end_user_followings_path(end_user.id) do %>
          <%= end_user.followings.count %> follows
        <% end %>
        <br>
        <%= link_to end_user_followers_path(end_user.id) do %>
          <%= end_user.followers.count %> followers
        <% end %>
      </div>
    </div>
    <div class="col-6 offset-1">
      <div class="row my-2">
        <div class="col-auto">
          Username : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= end_user.name %>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-auto">
          Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= end_user.email %>
        </div>
      </div>
      <div class="row my-2">
        <div class="col">
          <%= link_to "ユーザー情報編集", edit_end_user_path(@end_user), class: "btn btn-secondary btn-block my-1" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to "アカウント削除", check_path, class: "btn btn-danger btn-block my-1" %>
        </div>
      </div>
    </div>
  </div>
</div>