<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group text-center">
        <%= link_to "Timeline", timeline_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Popular", popular_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "New", posts_new_posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Search", search_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Create post", new_post_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your favorite posts", posts_favorited_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your posts", posts_path, class: "list-group-item list-group-item-action" %>
      </div>
    </div>
    <!--表示しているエンドユーザーが今ログインしているエンドユーザーか否かで表示を分岐-->
    <div class="col offset-1">
      <% if @end_user == current_end_user %>
        <%= render 'current_end_user', end_user: @end_user %>
      <% else %>
        <%= render 'other_end_user', {end_user: @end_user, recent_posts: @recent_posts} %>
      <% end %>
    </div>
  </div>
</div>