<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <%= link_to "Timeline", timeline_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Popular", popular_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "New", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Search", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Create post", new_post_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your favorite posts", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your posts", posts_path, class: "list-group-item list-group-item-action active" %>
      </div>
    </div>
    <div class="col offset-1">
      <% if @posts.blank? %>
        <div class="text-center">
          <p>投稿がありません</p>
        </div>
      <% else %>
        <%= render 'list_of_post', posts: @posts %>
      <% end %>
    </div>
  </div>
</div>