<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <%= link_to "Timeline", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Popular", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "New", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Search", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Create post", new_post_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your favorite posts", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your posts", posts_path, class: "list-group-item list-group-item-action" %>
      </div>
    </div>
    <div class="col offset-1">
      <div class="card">
        <div class="row g-0">
          <div class="col-8">
            <%= attachment_image_tag @post, :image %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <div class="card-title">
                <%= attachment_image_tag @post, :image, class: "circle"%>
                <%= @post.end_user.name %>
              </div>
              <%= @post.text %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>