<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group text-center">
        <%= link_to "Timeline", timeline_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Popular", popular_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "New", posts_new_posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Search", posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Create post", new_post_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your favorite posts", posts_favorited_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your posts", posts_path, class: "list-group-item list-group-item-action" %>
      </div>
    </div>
    <div class="col offset-1">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">タグ一覧(<%= @tags.count %>)</h3>
          <% @tags.each do |tag| %>
            <%= link_to "#{tag.name}(#{tag.taggings_count})", post_path(tag.name) %>
            &nbsp;
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>