<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group text-center">
        <%= link_to "Timeline", timeline_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Popular", popular_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "New", posts_new_posts_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Search", posts_path, class: "list-group-item list-group-item-action active" %>
        <%= link_to "Create post", new_post_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your favorite posts", posts_favorited_path, class: "list-group-item list-group-item-action" %>
        <%= link_to "Your posts", posts_path, class: "list-group-item list-group-item-action" %>
      </div>
    </div>
    <div class="col offset-1">
      <% if @model == 'end_user' %>
        <%= render 'result_for_end_users', end_users: @records %>
      <% elsif @model == 'post' %>
        <h3>検索ワード "<%= @content %>" の投稿</h3>
        <% if @records.blank? %>
          <br>
          <p class="text-center">検索ワード "<%= @content %>" の投稿はありません</p>
        <% else %>
          <%= render 'public/posts/list_of_post', posts: @records %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>