<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Sign up</h2>
          <%= flash[:alert] %>
          <%= form_with model: @end_user, url: end_user_registration_path, local: true do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>

            <div class="row">
              <div class="col">
                <%= f.label :name %><br>
                <%= f.text_field :name, autofocus: true %>
              </div>
            </div>

            <div class="row">
              <div class="col">
              <label for="inputEmail">メールアドレス</label><br />
                <%= f.email_field :email, autofocus: true, id: "inputEmail", autocomplete: "email" %>
              </div>
            </div>

            <div class="row">
              <div class="col">
              <label for="inputPassword">パスワード(6文字以上)</label><br />
                <%= f.password_field :password, id: "inputPassword", autocomplete: "new-password" %>
              </div>
            </div>

            <div class="row">
              <div class="col">
              <label for="inputPasswordConfirm">パスワード確認</label><br />
                <%= f.password_field :password_confirmation, id: "inputPasswordConfirm", autocomplete: "new-password" %>
              </div>
            </div>
            <br>
            <div class="row">
              <%= f.submit "Sign up", class: "btn btn-outline-info text-right" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>