<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">User info</h3>
        </div>
        <div class="row">
          <div class="col-3 offset-1">
            <%= attachment_image_tag @end_user, :profile_image, fallback: "no_image.jpg", class: "circle"%>
            <br>
            <%= @end_user.name %>
          </div>
          <div class="col-7">
            <table class="table-borderless">
              <tbody>
                <tr>
                  <th>Username</th>
                  <th><%= @end_user.name %></th>
                </tr>
                <tr>
                  <th>Email</th>
                  <th><%= @end_user.email %></th>
                </tr>
                <tr>
                  <th>会員ステータス</th>
                  <th>
                    <% if @end_user.is_deleted == false %>
                      <p class="text-success">登録済</p>
                    <% else %>
                      <p class="text-default">退会</p>
                    <% end %>
                  </th>
                </tr>
                <tr>
                  <th><%= link_to "ユーザー情報編集", edit_admin_end_user_path(@end_user), class: "btn btn-secondary" %></th>
                </tr>
              </tbody>
           </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>