<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="card">
        <div class="card-body">
          <h2>Log in</h2>

          <%= flash[:alert] %>
          <%= form_with model: @end_user, url: end_user_session_path, local: true do |f| %>
            <div class="field">
              <label for="inputEmail">メールアドレス</label><br />
              <%= f.email_field :email, autofocus: true, id: "inputEmail", autocomplete: "email" %>
            </div>
            <br>
            <div class="field">
              <label for="inputPassword">パスワード</label><br />
              <%= f.password_field :password, id: "inputPassword", autocomplete: "current-password" %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-outline-info" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>