<!DOCTYPE html>
<html>
  <head>
    <title>CatCom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if end_user_signed_in? %>
      <%= link_to "Log out", destroy_end_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_end_user_registration_path %>
      <%= link_to "Log in", new_end_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
